<xen:title>{xen:if '{$category.category_id}', '{xen:phrase dtui_category_edit}', '{xen:phrase dtui_category_add}'}</xen:title>

<xen:form action="{xen:adminlink 'dtui-categories/save'}" class="AutoValidator" data-redirect="yes">

	
	<xen:textboxunit label="{xen:phrase dtui_category_name}:" name="category_name" value="{$category.category_name}" data-liveTitleTemplate="{xen:if {$category.category_id},
		'{xen:phrase dtui_category_edit}: <em>%s</em>',
		'{xen:phrase dtui_category_add}: <em>%s</em>'}" />
	<xen:textboxunit label="{xen:phrase dtui_category_description}:" name="category_description" value="{$category.category_description}"  rows="5"/>

	<xen:submitunit save="{xen:phrase dtui_category_save}">
		<input type="button" name="delete" value="{xen:phrase dtui_category_delete}"
			accesskey="d" class="button OverlayTrigger"
			data-href="{xen:adminlink 'dtui-categories/delete', $category}"
			{xen:if '!{$category.category_id}', 'style="display: none"'}
		/>
	</xen:submitunit>
	
	<input type="hidden" name="category_id" value="{$category.category_id}" />
</xen:form>