<xen:title>{xen:if '{$item.item_id}', '{xen:phrase dtui_item_edit}', '{xen:phrase dtui_item_add}'}</xen:title>

<xen:form action="{xen:adminlink 'dtui-items/save'}" class="AutoValidator" data-redirect="yes">

	
	<xen:textboxunit label="{xen:phrase dtui_item_name}:" name="item_name" value="{$item.item_name}" data-liveTitleTemplate="{xen:if {$item.item_id},
		'{xen:phrase dtui_item_edit}: <em>%s</em>',
		'{xen:phrase dtui_item_add}: <em>%s</em>'}" />
	<xen:textboxunit label="{xen:phrase dtui_item_description}:" name="item_description" value="{$item.item_description}"  rows="5"/>
	<xen:selectunit label="{xen:phrase dtui_category}:" name="category_id" value="{$item.category_id}">
		<xen:option value="">&nbsp;</xen:option>
		<xen:options source="$allCategory" />
	</xen:selectunit>
	<xen:textboxunit label="{xen:phrase dtui_price}:" name="price" value="{$item.price}" />

	<xen:submitunit save="{xen:phrase dtui_item_save}">
		<input type="button" name="delete" value="{xen:phrase dtui_item_delete}"
			accesskey="d" class="button OverlayTrigger"
			data-href="{xen:adminlink 'dtui-items/delete', $item}"
			{xen:if '!{$item.item_id}', 'style="display: none"'}
		/>
	</xen:submitunit>
	
	<input type="hidden" name="item_id" value="{$item.item_id}" />
</xen:form>