.DTUI_GenericList {
	position: relative;
	zoom: 1;
}

/** column style and width **/

.DTUI_GenericList .sectionHeaders,
.DTUI_GenericListItem {
	display: table;
	table-layout: fixed;
	width: 100%;
	word-wrap: normal;
}

	.DTUI_GenericList .sectionHeaders dt,
	.DTUI_GenericList .sectionHeaders dd,
	.DTUI_GenericListItem .listBlock {
		display: table-cell;
		vertical-align: middle;
	}
	
		.DTUI_GenericList .image {
			width: 48px;
		}

		.DTUI_GenericList .name {
			width: auto;
		}
		
		.DTUI_GenericList .parent {
			width: 200px;
			text-align: center;
		}
		
		.DTUI_GenericList .info {
			width: 350px;
			text-align: right;
		}
		
/* column headers */

.DTUI_GenericList .sectionHeaders {	
	@property "subHeading";
	font-size: 11px;
	color: @secondaryDarker;
	background: @secondaryLighter url('@imagePath/xenforo/gradients/category-23px-light.png') repeat-x top;
	padding: 5px 10px;
	margin: 3px auto 0;
	border-top: 1px solid @secondaryLighter;
	border-bottom: 1px solid @secondaryLight;
	@property "/subHeading";
	
	padding: 0;
}
		
	.DTUI_GenericList .sectionHeaders a {
		display: block;
		color: @subHeading.color;
		outline: none;
	}
	
	.DTUI_GenericList .sectionHeaders a:hover {
		text-decoration: none;
	}
			
	.DTUI_GenericList .sectionHeaders a[href]:hover {
		@property "subHeadingHover";
		text-decoration: none;
		background-color: @secondaryLightest;
		@property "/subHeadingHover";
	}

		.DTUI_GenericList .sectionHeaders a span {
			display: block;
			padding: 5px;
		}
		
/** IE <8 **/
.DTUI_GenericList .sectionHeaders,
.DTUI_GenericListItem                { *display: block; _vertical-align: bottom; }
.DTUI_GenericList .sectionHeaders dt,
.DTUI_GenericList .sectionHeaders dd,
.DTUI_GenericListItem .listBlock     { *display: block; *float: left; }
.DTUI_GenericListItem .listBlock     { _height: 52px; *min-height: 52px; } /* todo: should be calculation */
.DTUI_GenericList .image             { *width: 9.98%; }
.DTUI_GenericList .name              { *width: 39.98%; }
.DTUI_GenericList .parent            { *width: 19.97%; }
.DTUI_GenericList .info              { *width: 29.97%; }
.DTUI_GenericList .sectionHeaders dt,
.DTUI_GenericList .sectionHeaders dd { *padding: 5px 0; }
.DTUI_GenericList .sectionHeaders a,
.DTUI_GenericList .sectionHeaders a span { *display: inline !important; *float: none !important; }

/** main **/

.DTUI_GenericListItem {
	@property "primaryContent.background";
	background-color: @contentBackground;
	@property "/primaryContent.background";
	
	@property "primaryContent.border";
	border-bottom: 1px solid @primaryLighterStill;
	@property "/primaryContent.border";
}

	/* sections, section widths */
	
		.DTUI_GenericListItem .al1 {
			@property "secondaryContent.background";
			background: @primaryLightest url('@imagePath/xenforo/gradients/category-23px-light.png') repeat-x top;
			@property "/secondaryContent.background";
		}
		
		.DTUI_GenericListItem .al2 {
		}

	/* title, poster section */
	
	.DTUI_GenericListItem .titleText {
		padding: 5px;
		overflow: hidden; zoom: 1;
	}
	
		/* first row */
	
		.DTUI_GenericListItem .title {
			@property "discussionListFirstRow";
			font-size: 11pt;
			@property "/discussionListFirstRow";
			float: left;
		}
		
		/* second row */
		
		.DTUI_GenericListItem .secondRow {
			@property "discussionListSecondRow";
			font-size: 11px;
			@property "/discussionListSecondRow";
			clear: both;
		}
		
			.DTUI_GenericListItem .secondRow .controls {
				float: right;
			}
		
/** bottom summary **/

.DTUI_GenericList .sectionFooter {
	overflow: hidden; zoom: 1;
}

	.DTUI_GenericList .sectionFooter .contentSummary {
		float: left;
		display: block;
	}