<link rel="xenforo_stylesheet" type="text/css" href="dtui.css" />
<link rel="xenforo_stylesheet" type="text/css" href="discussion_list.css" />

<xen:title>{xen:phrase dtui_tables}</xen:title>
<xen:description>Description goes here, blah blah</xen:description>

<xen:navigation>
		<xen:breadcrumb href="{xen:link 'dtui-entry-point/tables'}">{xen:phrase dtui_tables}</xen:breadcrumb>
</xen:navigation>

<div class="section sectionMain DTUI_GenericList">	
	<dl class="sectionHeaders">
		<dt class="image">&nbsp;</dt>
		<dd class="name">
			<a href="{xen:link 'dtui-entry-point/tables', '', '_params={$orderParams.table_name}'}"><span>{xen:phrase dtui_table_name}{xen:helper sortArrow, $order, $orderDirection, table_name}</span></a>
		</dd>
		<dd class="info">
			Blah blah
		</dd>
	</dl>

	<ol class="DTUI_GenericListItems">
		<xen:if is="{$tables}">
			<xen:foreach loop="$tables" value="$table">
				<li id="table-{$table.table_id}" class="DTUI_GenericListItem">
					<div class="listBlock image alt1">
						<xen:if is="{$table.images.m}">
							<img src="{$table.images.m}" />
						<xen:else />
							Oops!
						</xen:if>
					</div>
				
					<div class="listBlock name alt2">
						<div class="titleText">
							<h3 class="title">
								{$table.table_name}
							</h3>
				
							<div class="secondRow">
								<span class="controls">
									<a href="{xen:link 'dtui-entry-point/table-qrcode', {$table.table_id}}" class="OverlayTrigger">{xen:phrase dtui_qrcode}</a>
								</span>
								{$table.table_description}					
							</div>
						</div>
					</div>
				
					<div class="listBlock info alt1">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non arcu et purus congue adipiscing vel vel turpis. Nam eu mi quis nisl elementum ultrices
					</div>

				</li>
			</xen:foreach>
		<xen:else />
			<li class="primaryContent">
				Oops oops oops
			</li>
		</xen:if>
	</ol>

	<div class="sectionFooter InlineMod SelectionCountContainer">
		<span class="contentSummary">{xen:phrase dtui_showing_tables_x_to_y_of_z, 'start=1', 'end={xen:number {xen:count $tables}}', 'total={xen:number {xen:count $tables}}'}</span>
	</div>
</div>